@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}
body{
    padding-top: 1em;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    position: fixed;
    overflow: auto;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 4px 16px;
    text-decoration: none;
  }
  
  /* Change the link color on hover */
  li a:hover {
    background-color: #555;
    color: white;
  }

  .CV {
    position: relative;
    left: 220px;
    padding-bottom: 0%;

  }